# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.cs-src.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\David\Documents\GitHub\config-loader\cs-src\.idea\.idea.cs-src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
