# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.config-loader.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\David\Documents\GitHub\config-loader\src\.idea\.idea.config-loader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
